.button {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;

    &--primary {
        padding: 16px;
        color: #ff9900;
        background-color: #391073;
        border-radius: 12px;
        text-decoration: none;
        transition: all ease .3s;
    }

    &--primary:hover {
        color: #391073;
        background-color: #ff9900;
    }
}